* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c6d4df;
  /* Below items might need to be removed later, depending on proxy implementation */
  height: 100%;
  background: #1B2838;
}
body {
  min-width: 320px;
}
#game-description {
  width: 324px;
  height: 428px;
  position: relative;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 940px) and (min-width: 470px) {
  #game-description {
    max-width: 940px;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
}
